<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>

    <div class="menu-contenedor">
        <h1>Menú Principal</h1>
        <div class="botones">
            <button id="captura" title="Modulo para crear la salida">Capturar</button>
            <button id="editar" title="Modulo para editar la salida">Editar</button>
            <button id="reporte" title="Modulo para bajar informacion y generar reporte">Reporte</button>
            <button id="cerrarSesion" title="Boton para cerrar sesion">Cerrar sesión</button>
        </div>
    </div>
    <div class="overlay" id="overlay"></div>

  <div class="popup" id="popup">
    <h2>Contacto Administradores</h2>
    <p>📧 saul_rivera@ider.mx</p>
    <p>📧 juan_llamas@ider.mx</p>
    <button id="cerrar-btn">Cerrar</button>
  </div>
    <footer id="footer">
        <span>Elaborado por Ing de Costos</span>
        <img src="../img/CLUSTERtransparente.png" alt="Logo">
    </footer>
<script src="../js/menu.js"></script>
</body>
</html>
