<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú</title>
    <link rel="stylesheet" href="../css/menu.css">
</head>
<body>

    <div class="menu-contenedor">
        <h1>Menú Principal</h1>
        <div class="botones">
            <button id="captura">Capturar</button>
            <button id="editar">Editar</button>
            <button id="reporte">Reporte</button>
            <button id="cerrarSesion">Cerrar sesión</button>
        </div>
    </div>

    <footer>
        <span>Elaborado por Ing de Costos</span>
        <img src="../img/CLUSTERtransparente.png" alt="Logo">
    </footer>
<script src="../js/menu.js"></script>
</body>
</html>
