/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #dfe9f3, #a6c1ee);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos del formulario */
form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 350px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #444;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
    color: #555;
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background: #f8f9fa;
    color: #333;
    text-align: left;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #7ea1c4;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #688fb1;
}

/* Footer fijo abajo con imagen a la derecha */
footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #666;
}

footer span {
    margin-right: 10px; /* Espacio entre el texto y la imagen */
}

footer img {
    height: auto;
    max-height: 20px;
    width: auto;
    max-width: 100%;
    margin-bottom: 0px;
    object-fit: contain;
}

/* Media Queries para responsividad */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    form {
        width: 90%;
        max-width: 300px;
    }

    h1 {
        font-size: 20px;
    }

    button {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    form {
        padding: 15px;
    }

    h1 {
        font-size: 18px;
    }

    button {
        font-size: 14px;
    }
}